#plupload {
    background-color: aliceblue;
}
#droparea {
    border: 4px solid #999;
    height: 200px;
    text-align: center;
    font-size: 13px;
}
#droparea > p {
    margin: 0;
    padding: 60px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}
#droparea > span {
    display: block;
    margin-bottom: 4px;
}
#uploadFile {
    border: 1px solid #bbb;
    text-decoration: none;
    padding: 3px 8px;
    background-color: #ccc;
}
